* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  padding: 15px 15px;
  background-color: lightblue;
}



.container {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

.container-sm {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
}

.container-short {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  height: 80px;
}

.container-square {
  width: 1200px;
  height: 1200px;
  display: flex;
  margin: 0 auto;
}

.col-20 {
  width: 20%;

}

.col-60 {
  width: 60%;
}

.col-100-foot {
  width: 100%;
}

.col-100,
.col-30,
.col-70,
.col-15,
.col-40 {
  width: 100%;
  min-height: 350px;
}

.col-70 {
  width: 70%;
}

.col-30 {
  width: 30%;
}

.col-15 {
  width: 15%;
}

.col-40 {
  width: 40%;
}

.col-20,
.col-60 {
  height: 30px;
}

.col-20.bg-goldenrod {
  padding: 5px;
}

.col-60.bg-goldenrod {
  text-align: center;
  padding: 5px;
}

.bg-green {
  background-color: green;
}

.bg-goldenrod {
  background-color: goldenrod;
}

.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
}

.bg-lille {
  background-color: #EF82ED;
}

.bg-lg-blue {
  background-color: #1E90FF;
}

.bg-gray {
  background-color: gray;
}

.bg-aquamarin {
  background-color: aquamarine;
}

.bg-pink {
  background-color: pink;
}

.bg-dark-pink {
  background-color: #F08180;
}

.bg-lg-gray {
  background-color: #D3D3D3;
}

.bg-marin {
  background-color: #20B3AA;
}

.py-20 {
  padding: 20px 0;
}

.center-items {
  padding: 5px 5px;
}

.border-dotted {
  border: 2px;
  border-style: dotted;
}

.border-radius {
  border-radius: 5px;
}

.col-15.border-dotted {
  border: 2px white dotted;
}

.col-100-foot.bg-aquamarin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  text-transform: capitalize;
}